<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🚀 Hello Chamod!</h1>
        <hr>
        <p><strong>Current Time:</strong> {{ time }}</p>
        <p><strong>Hostname:</strong> {{ hostname }}</p>
        <p><strong>IP Address:</strong> {{ ip_address }}</p>
        <p><strong>OS Version:</strong> {{ os_version }}</p>
    </div>
</body>
</html>
